@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased;
  /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto;
  /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #fefdfb;
  color: #7c766a;
}

h1, h2, h3, h4 {
  color: #292723;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: 1.5rem;
  color: #292723;
}

.section__subtitle {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fefdfb;
}

body {
  height: 4000px;
}

.header {
  background-color: transparent;
  transition: 0.3s;
}

.scrolled {
  background-color: #fefdfb;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

header.scrolled .nav-title:hover,
header.scrolled .toggle:hover {
  color: #e0b257;
}

.nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.nav-title {
  color: #292723;
  font-weight: 500;
}

.nav-btns .toggle {
  color: #292723;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: #fefdfb;
    padding: 1.5rem 2rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 1.5rem 1.5rem;
    transition: 0.3s;
  }
}
.nav-menu .nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav-menu .nav-item .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: 0.813rem;
  color: #292723;
  font-weight: 500;
}
.nav-menu .nav-item .link .icon {
  font-size: 1.2rem;
}
.nav-menu .nav-item :hover {
  color: #e0b257;
}

.close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #e0b257;
}
.close:hover {
  color: #cb9e43;
}

.show-menu {
  top: 0;
}

.page-header {
  height: 60vh;
  max-height: 440px;
  min-height: 550px;
  background: #e4c827;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(228, 200, 39, 0.7710434516)), to(#fdbb2d));
  background: linear-gradient(0deg, rgba(228, 200, 39, 0.7710434516) 0%, #fdbb2d 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil-img img {
  height: 12rem;
  width: 12rem;
  padding: 0;
  margin: auto;
  border: 1rem solid transparent;
}

.profil-title {
  text-align: center;
  font-size: 2rem;
}

.profil-description {
  text-align: center;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.section {
  margin: 4.25rem 0;
}
.section .container {
  display: flex;
  flex-direction: column;
  webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card {
  padding: 2rem;
}

.card-title {
  color: #292723;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-bottom: 0.75rem;
}
@media screen and (max-width: 432px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
}

.card-item {
  grid-area: 1/3/2/6;
}

.card-item-title {
  color: #292723;
  font-weight: 600;
  font-size: 0.938rem;
  text-transform: uppercase;
  grid-area: 1/1/2/3;
}

/*# sourceMappingURL=styles.css.map */
